@import "~vue-material/dist/theme/engine"; // Import the theme engine 

//https://coolors.co/f7c59f-528e5c-5a5766-bfc0c0-ffffff

  @include md-register-theme("default", (
    primary: rgb(203, 255, 14), // The primary color of your application
    accent: rgb(0, 138, 202), // The accent or secondary color
    theme: dark // This can be dark or light
  ));



@import "~vue-material/dist/theme/all"; // Apply the theme